#link{
    text-decoration:none;
    margin-right: 20px;
    color: black;
    line-height: 50px;
}

header{
    text-align: center;
    height: 50px;
    background-color: gray;
}

.main{
    margin-left: 20px;
    margin-top: 20px;
}